/* Fonts
 ****************************************************************/

$font-default: Helvetica, Arial, sans-serif;
//$font-poppins: 'Poppins', $font-default;
$font-poppins: 'PT Sans', $font-default;
$font-lekton: 'Lekton', $font-default;

/* Colors
 ****************************************************************/

$color-white: #EFFFCD;
$color-black: #26332E;
$color-silver-chalice: #17993C;

$color-alabaster: #fafafa;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;

/* BKUP
$color-silver-chalice: #aaa;
$color-alabaster: #fafafa;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;


*/

/* PALETA verde
negro: 
    RGB: 38,51,46
    HEX: #26332E
negrito: 
    RGB: 59, 79, 71
    HEX: #3b4f47

blanco: 
    RGB: 239,255,205
    HEX: #EFFFCD
blanquito: 
    RGB: 220,233,190
    HEX:   #DCE9BE

destaque: 
    RGB: 23,153,60
    HEX: #17993C
*/


/*
PALETA remolacha
https://www.colourlovers.com/palette/444487/Curiosity_Killed
clarito:  #EFFFCD
claro:    #DCE9BE;
oscurito: #555152;
oscuro:   #2E2633;
detake:   #99173C;
*/
